@media screen and (min-width: 1252px) {

	body {

		margin: 0;
		background-color: #222;
		background-image: url("images/dark-triangles.png");
		font-family: Helvetica, sans-serif;
		font-weight: 300;
	}


	.container {

		min-height: 100%;
		position: relative;
	}
	  
	  

	/* Left Container */

	#first-container {

		

		background-color: #55d6aa;
		width: 28%;
		
		margin-left: 18%;
		margin-top: 5%;
		padding: 30px;
		border-left: 15px;
		border: 5px solid white;
		float: left;

	}

	/* Right Container */

	#second-container {

		float: right;
		background-color: #55d6aa;
		width: 300px;
		margin-right: 200px;
		margin-top: 5%;
		padding: 30px; 
		border: 5px solid white;
		padding-right: 60px;
		
	}

	#space {
		clear: both;
	}


	/* Navigation Bar */


	.main-nav {

		width: 80%
		margin: 0 auto;
	}

	header {
		background: #55d6aa;
		border-bottom: 10px solid white;

	}

	header::after {
		content: '';
		display: table;
		clear: both;

	}


	nav {
		float: right;
	}

	nav ul {

		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li {

		    display: inline-flex;
	    margin-left: -7%;
	    padding-top: 6%;
	    padding-right: 7%;
	    margin-right: 60px;
		
		    display: inline-flex;
	    margin-left: -85px;
	    padding-top: 30px;
	    padding-right: 125px;
	    margin-right: 60px;


	}

	nav a {

		color: #444;
		text-decoration: none;
		text-transform: uppercase;
	}

	nav a:hover {

		color: white;
		transition: color .5s;
	}


	h2 {

		float: left;
		margin: 1.2%;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-left: 20%;
		color: #444;
		width: 20%;
		height: 5%;

	}

	/* This is the Footer */

	.footer {

	  	
	    right: 0;
	    bottom: 0;
	    left: 0;
	    padding: 1rem;
	    background: white;
	    color: black;
	    text-align: center;
	    border-top: 10px solid #55d6aa;
	    display: inline-block;
	    width: 98.3%;
	    margin-top: 10.8%;
	}

	/* Button Icons For Contact Me */

	img {
		float: left;
		display: inline-block;
		width: 29%;
		list-style: none;
		margin-right: 3%;
		padding-right: px;
	}

	img:hover  {
		
		width: 80px;
		transition: .2s;

	}

	img:active {

		width: 78px;
	}

	 li {

		list-style: none;
	}

	/* Sub Titles */

	h3 {

		text-align: center;
		font-weight: 900;
	}

	p {

		letter-spacing: 2.2px;
		line-height: 115%;
		color: #444;
		font-weight: bold;
	}

	#about-me {

		width: 150px;
		height: 100px;
		float: left;
	}

	#colorstrip {
		margin-left: 20px;
		width: 100%;
		border-style: solid;
		border-color: white;
	}

	#colorstrip1 {
		margin-left: 20px;
		width: 90%;
		border-style: solid;
		border-color: white;
		margin-right: 20px;
	}

	.contact {

		margin-left: 20px;
	}




	/* portfolio content */

	.photo-portfolio img {
		

	    width: 39%;
	    height: 20%;
	    flex-wrap: wrap;
	    margin: 3%;
	    padding-right: 3%;
	    
	    
	}






	.portfolio-overflow {
	    width: 106%;
	    height: 85%;
	    overflow: scroll;

	}

	::-webkit-scrollbar {
	    width: 12px;
	}
	 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	::-webkit-scrollbar-corner { 

		color: #55d6aa;
	}

	::-webkit-scrollbar-track:horizontal {

		display: none;

	}

}



/*This is going to be the beginning of the second chapter of my webpage.*/


@media (min-width: 641px) and (max-width: 1251px) {

	body {

		margin: 0;
		background-color: #222;
		background-image: url("images/dark-triangles.png");
		font-family: Helvetica, sans-serif;
		font-weight: 300;
	}


	.container {

		min-height: 100%;
		position: relative;
	}
	  
	  

	/* Left Container */

	#first-container {

		

		background-color: #55d6aa;
		width: 28%;
		
		margin-left: -1%;
		margin-top: 5%;
		padding: 30px;
		border-left: 15px;
		border: 5px solid white;
		float: left;

	}

	/* Right Container */

	#second-container {

		float: right;
		background-color: #55d6aa;
		width: 300px;
		margin-right: -4%;
		margin-top: 5%;
		padding: 30px; 
		border: 5px solid white;
		padding-right: 60px;
		
	}

	#space {
		clear: both;
	}


	/* Navigation Bar */


	.main-nav {

		width: 80%
		margin: 0 auto;
	}

	header {
		background: #55d6aa;
		border-bottom: 10px solid white;

	}

	header::after {
		content: '';
		display: table;
		clear: both;

	}


	nav {
		float: right;
	}

	nav ul {

		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav li {

		 

	    
    display: inline-flex;
    margin-left: -1%;
    padding-top: 30px;
    padding-right: 6%;
    margin-right: -2%;
    line-height: 2%;


	}

	nav a {

		color: #444;
		text-decoration: none;
		text-transform: uppercase;
	}

	nav a:hover {

		color: white;
		transition: color .5s;
	}


	h2 {

		float: left;
		margin: 1.2%;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-left: 1%;
		color: #444;
		width: 20%;
		height: 5%;

	}

	/* This is the Footer */

	.footer {

	  	
	    right: 0;
	    bottom: 0;
	    left: 0;
	    padding: 1rem;
	    background: white;
	    color: black;
	    text-align: center;
	    border-top: 10px solid #55d6aa;
	    display: inline-block;
	    width: 98.3%;
	    margin-top: 10.8%;
	}

	/* Button Icons For Contact Me */

	img {
		float: left;
		display: inline-block;
		width: 29%;
		list-style: none;
		margin-right: 3%;
		padding-right: px;
	}

	img:hover  {
		
		width: 80px;
		transition: .2s;

	}

	img:active {

		width: 78px;
	}

	 li {

		list-style: none;
	}

	/* Sub Titles */

	h3 {

		text-align: center;
		font-weight: 900;
	}

	p {

		letter-spacing: 2.2px;
		line-height: 115%;
		color: #444;
		font-weight: bold;
	}

	#about-me {

		width: 150px;
		height: 100px;
		float: left;
	}

	#colorstrip {
		margin-left: 20px;
		width: 100%;
		border-style: solid;
		border-color: white;
	}

	#colorstrip1 {
		margin-left: 20px;
		width: 90%;
		border-style: solid;
		border-color: white;
		margin-right: 20px;
	}

	.contact {

		margin-left: 20px;
	}




	/* portfolio content */

	.photo-portfolio img {
		

	    width: 39%;
	    height: 20%;
	    flex-wrap: wrap;
	    margin: 3%;
	    padding-right: 3%;
	    
	    
	}






	.portfolio-overflow {
	    width: 106%;
	    height: 85%;
	    overflow: scroll;

	}

	::-webkit-scrollbar {
	    width: 12px;
	}
	 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	::-webkit-scrollbar-corner { 

		color: #55d6aa;
	}

	::-webkit-scrollbar-track:horizontal {

		display: none;

	}

}

/* This is the final stage: Mobile. This is the most important one that I can do something about. so dont fuck it up. */

@media (max-width: 640px) {

	body {

		margin: 0;
		background-color: #222;
		background-image: url("images/dark-triangles.png");
		font-family: Helvetica, sans-serif;
		font-weight: 300;
	}


	.container {

		min-height: 100%;
		position: relative;
	}
	  
	  

	/* Left Container */

	#first-container {

		

		background-color: #55d6aa;
		width: 89%;
		
		margin-left: 0%;
		margin-top: 5%;
		padding: 30px;
		border-left: 15px;
		border: 5px solid white;
		float: left;

	}

	/* Right Container */

	#second-container {

		float: left;
		background-color: #55d6aa;
		width: 84%;
		margin-right: 0%;
		margin-top: 5%;
		padding: 30px; 
		border: 5px solid white;
		padding-right: 60px;
		
	}

	#space {
		clear: both;
	}


	/* Navigation Bar */


	.main-nav {

		width: 80%
		margin: 0 auto;
	}

	header {
		background: #55d6aa;
		border-bottom: 10px solid white;

	}

	header::after {
		content: '';
		display: table;
		clear: both;

	}


	nav {
		
	}

	nav ul {

		margin-left: 20%;
		list-style: none;
	}

	nav li {

		 

	    
    display: inline-flex;
    margin-left: -1%;
    padding-top: 30px;
    padding-right: 6%;
    margin-right: -2%;
    line-height: 2%;


	}

	nav a {

		color: #444;
		text-decoration: none;
		text-transform: uppercase;
	}

	nav a:hover {

		color: white;
		transition: color .5s;
	}


	h2 {

			    margin: 1.2%;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    margin-left: 1%;
	    color: #444;
	    width: 20%;
	    height: 7%;
	    text-align: center;
	    width: 93%;
	    line-height: 2;

	}

	/* This is the Footer */

	.footer {

	  	
	    right: 0;
	    bottom: 0;
	    left: 0;
	    padding: 1rem;
	    background: white;
	    color: black;
	    text-align: center;
	    border-top: 10px solid #55d6aa;
	    display: inline-block;
	    width: 98.3%;
	    margin-top: 10.8%;
	}

	/* Button Icons For Contact Me */

	img {
		float: left;
		display: inline-block;
		width: 29%;
		list-style: none;
		margin-right: 3%;
		padding-right: px;
	}

	img:hover  {
		
		width: 31%;
		transition: .2s;

	}

	img:active {

		width: 28%;
	}

	 li {

		list-style: none;
	}

	/* Sub Titles */

	h3 {

		text-align: center;
		font-weight: 900;
	}

	p {

		letter-spacing: 2.2px;
		line-height: 115%;
		color: #444;
		font-weight: bold;
	}

	#about-me {

		width: 150px;
		height: 100px;
		float: left;
	}

	#colorstrip {
		margin-left: 20px;
		width: 100%;
		border-style: solid;
		border-color: white;
	}

	#colorstrip1 {
		margin-left: 20px;
		width: 90%;
		border-style: solid;
		border-color: white;
		margin-right: 20px;
	}

	.contact {

		margin-left: 20px;
	}




	/* portfolio content */

	.photo-portfolio img {
		

	    width: 39%;
	    height: 20%;
	    flex-wrap: wrap;
	    margin: 3%;
	    padding-right: 3%;
	    
	    
	}






	.portfolio-overflow {
	    width: 106%;
	    height: 85%;
	    overflow: scroll;

	}

	::-webkit-scrollbar {
	    width: 12px;
	}
	 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	::-webkit-scrollbar-corner { 

		color: #55d6aa;
	}

	::-webkit-scrollbar-track:horizontal {

		display: none;

	}

}















